<div class="content">
    <div class="contentHeader">
        <h1>My projects</h1>
    </div>
    <div class="project1">
        <h2>Spotpris.eu</h2>
        <div class="itemFlex">
            <div class="itemFlex1">
                <h3>Spotpris is a website that shows the current price of electricity in Norway. The website is made with Node.js, Express.</h3>
            </div>
            <div class="itemFlex2">
                <img src="/img/spotpris.png">
            </div>
        </div>
    </div>
    <div class="project2">
        <h2>Spotpris.eu</h2>
        <div class="itemFlex">
            <div class="itemFlex1">
                <h3>Spotpris is a website that shows the current price of electricity in Norway. The website is made with Node.js, Express.</h3>
            </div>
            <div class="itemFlex2">
                <img src="/img/spotpris.png">
            </div>
        </div>
    </div>
    <div class="project3">
        <h2>Spotpris.eu</h2>
        <div class="itemFlex">
            <div class="itemFlex1">
                <h3>Spotpris is a website that shows the current price of electricity in Norway. The website is made with Node.js, Express.</h3>
            </div>
            <div class="itemFlex2">
                <img src="/img/spotpris.png">
            </div>
        </div>
    </div>
</div>