<div class="content">
    <div class="contentHeader">
        <h1 class="contentHeaderText">My projects</h1>
    </div>
    <div class="project1">
        <h2>Spotpris.eu</h2>
        <div class="itemFlex">
            <div class="itemFlex1">
                <h3 class="itemFlex1H1">Spotpris.eu is a website designed to help people save money on the powerbill.<br>
                <br>   
                In the end I want it to be able to calculate and show all relevant information about what your powerbill may be.<br>
                <br>
                Maybe even give some tips on how to decrease usage.</h3>
            </div>
            <div class="itemFlex2">
                <img src="/img/spotprisRender1.png" width="450px">
            </div>
        </div>
    </div>
    <div class="project2">
        <h2>Spotpris.eu</h2>
        <div class="itemFlex">
            <div class="itemFlex1">
                <h3 class="itemFlex1H1">Spotpris is a website that shows the current price of electricity in Norway. The website is made with Node.js, Express.</h3>
            </div>
            <div class="itemFlex2">
                <img src="/img/spotpris.png">
            </div>
        </div>
    </div>
    <div class="project3">
        <h2>Spotpris.eu</h2>
        <div class="itemFlex">
            <div class="itemFlex1">
                <h3 class="itemFlex1H1">Spotpris is a website that shows the current price of electricity in Norway. The website is made with Node.js, Express.</h3>
            </div>
            <div class="itemFlex2">
                <img src="/img/spotpris.png">
            </div>
        </div>
    </div>
</div>