<div class="sidebar">
    <div class="sidebarHolder">
    <div class="sidebarHeader">
        <div class="sidebarHeader1">
            <img src="/img/89387628.png" alt="avatar" class="sidebarHeader1Img">
        </div>
        <div class="sidebarHeader2">
            <h1 class="sidebarHeader2H1">Erik Flatabø</h1>
            <h2 class="sidebarHeader2H2">Web Developer</h2>
        </div>
    <div class="sidebarGrid">
        <div class="sidebarGrid1"><i class="fa-solid fa-house fa-2xl"></i></div>
        <div class="sidebarGrid2"><i class="fa-solid fa-music fa-2xl"></i></div>
        <div class="sidebarGrid3"><i class="fa-solid fa-music fa-2xl"></i></div>
        <div class="sidebarGrid4"><i class="fa-brands fa-github fa-2xl"></i></div>
        <div class="sidebarGrid5"><i class="fa-solid fa-phone fa-2xl"></i></div>
    </div>
    </div>
</div>