body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.word {
    color: white;
    font-size: 7vw;
    margin: 0rem;
    font-family: 'Sofia Sans', sans-serif;
    text-transform: uppercase;
    transition: opacity 250ms ease;
    transition: background 250ms ease;
    position: relative;
}

.line {
    display:flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    
}

.letter {
    transition: transform 350ms ease-out;
    display: inline-block;
    position: relative;
}

/* Phone Number */

.fancy:hover > .letter:nth-child(1) {
    transform: translate(-30%, 10%) rotate(10deg);
}
.fancy:hover > .letter:nth-child(2) {
    transform: translate(-5%, -30%) rotate(-4deg);
}
.fancy:hover > .letter:nth-child(3) {
    transform: translate(-5%, 10%) rotate(7deg);
}
.fancy:hover > .letter:nth-child(4) {
    transform: translate(20%, -16%) rotate(-2deg);
}
.fancy:hover > .letter:nth-child(5) {
    transform: translate(-5%, 20%) rotate(-11deg);
}
.fancy:hover > .letter:nth-child(6) {
    transform: translate(-20%, 10%) rotate(9deg);
}
.fancy:hover > .letter:nth-child(7) {
    transform: translate(-15%, -10%) rotate(6deg);
}
.fancy:hover > .letter:nth-child(8) {
    transform: translate(13%, 12%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(9) {
    transform: translate(6%, -7%) rotate(2deg);
}
.fancy:hover > .letter:nth-child(10) {
    transform: translate(-5%, -19%) rotate(-7deg);
}
.fancy:hover > .letter:nth-child(11) {
    transform: translate(40%, -19%) rotate(-4deg);
}
.fancy:hover > .letter:nth-child(12) {
    transform: translate(-25%, -12%) rotate(-8deg);
}
.fancy:hover > .letter:nth-child(13) {
    transform: translate(23%, 20%) rotate(5deg);
}
.fancy:hover > .letter:nth-child(14) {
    transform: translate(3%, -17%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(15) {
    transform: translate(3%, 10%) rotate(12deg);
}

/* Email Address */


.fancy:hover > .letter:nth-child(16) {
    transform: translate(7%, -18%) rotate(12deg);
}
.fancy:hover > .letter:nth-child(17) {
    transform: translate(3%, 15%) rotate(4deg);
}
.fancy:hover > .letter:nth-child(18) {
    transform: translate(-8%, -15%) rotate(-14deg);
}
.fancy:hover > .letter:nth-child(19) {
    transform: translate(-2%, 10%) rotate(7deg);
}
.fancy:hover > .letter:nth-child(20) {
    transform: translate(5%, -20%) rotate(-2deg);
}

/* Github */

.fancy:hover > .letter:nth-child(21) {
    transform: translate(10%, 20%) rotate(-11deg);
}
.fancy:hover > .letter:nth-child(22) {
    transform: translate(24%, -9%) rotate(9deg);
}
.fancy:hover > .letter:nth-child(23) {
    transform: translate(26%, 5%) rotate(6deg);
}
.fancy:hover > .letter:nth-child(24) {
    transform: translate(17%, -15%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(25) {
    transform: translate(15%, 17%) rotate(5deg);
}
.fancy:hover > .letter:nth-child(26) {
    transform: translate(3%, -12%) rotate(-7deg);
}

#email {
    width: 90%;
}
#github-link {
    width: 100%;
}

#github-link:hover {
    background-color: rgb(165, 2, 165);
    background: -webkit-linear-gradient(45deg, rgb(165, 2, 165), rgb(140, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-size: 100%;
}

#phoneNum:hover {
    background-color: rgb(27, 134, 206);
    background: -webkit-linear-gradient(45deg, rgb(27, 134, 206), rgb(0, 36, 199));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-size: 100%;
}
#email:hover {
    background-color: rgb(240, 81, 60);
    background: -webkit-linear-gradient(45deg, rgb(240, 81, 60), rgb(235, 23, 8));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
}
