body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.word {
    color: white;
    font-size: 6vw;
    margin: 0rem;
    font-family: 'Sofia Sans', sans-serif;
    text-transform: uppercase;
    transition: opacity 250ms ease;
    position: relative;
}

.line {
    display:flex;
    justify-content: space-between;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}

a {
    text-decoration: none;
    
}

.letter {
    transition: transform 250ms ease;
    display: inline-block;
    position: relative;
}

.fancy:hover > .letter:nth-child(1) {
    transform: translate(-30%, 10%) rotate(10deg);
}
.fancy:hover > .letter:nth-child(2) {
    transform: translate(-5%, -30%) rotate(-4deg);
}
.fancy:hover > .letter:nth-child(3) {
    transform: translate(-5%, 10%) rotate(7deg);
}
.fancy:hover > .letter:nth-child(4) {
    transform: translate(45%, -45%) rotate(-2deg);
}
.fancy:hover > .letter:nth-child(5) {
    transform: translate(-5%, 20%) rotate(-11deg);
}
.fancy:hover > .letter:nth-child(6) {
    transform: translate(5%, -10%) rotate(9deg);
}
.fancy:hover > .letter:nth-child(7) {
    transform: translate(-15%, -10%) rotate(6deg);
}
.fancy:hover > .letter:nth-child(8) {
    transform: translate(13%, 12%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(9) {
    transform: translate(6%, -7%) rotate(2deg);
}
.fancy:hover > .letter:nth-child(10) {
    transform: translate(-5%, -19%) rotate(-7deg);
}
.fancy:hover > .letter:nth-child(11) {
    transform: translate(40%, -30%) rotate(-4deg);
}
.fancy:hover > .letter:nth-child(12) {
    transform: translate(-25%, -12%) rotate(-8deg);
}
.fancy:hover > .letter:nth-child(13) {
    transform: translate(23%, 37%) rotate(5deg);
}
.fancy:hover > .letter:nth-child(14) {
    transform: translate(-24%, -17%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(15) {
    transform: translate(-24%, 43%) rotate(9deg);
}
.fancy:hover > .letter:nth-child(16) {
    transform: translate(27%, -37%) rotate(-12deg);
}
.fancy:hover > .letter:nth-child(17) {
    transform: translate(30%, 39%) rotate(4deg);
}
.fancy:hover > .letter:nth-child(18) {
    transform: translate(50%, -30%) rotate(-2deg);
}
.fancy:hover > .letter:nth-child(19) {
    transform: translate(60%, 10%) rotate(7deg);
}
