<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/textOpacity.js" defer></script>
    <script src="/js/textFancy.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="text">
        <div class="line">
            <p class="word" id="word1">Erik</p>
            <p class="word" id="word2">Flatabø</p>
        </div>
        <div class="line">
            <p class="word" id="word3">Development</p>
        </div>
        <div class="line">
            <p class="word" id="word4">&</p>
            <p class="word" id="word5">Coding</p>
        </div>
        <div class="line">
            <a class="word fancy" id="phoneNum" href="tel:+4740721416"> +47 407 21 416</a>
        </div>
        <div class="line">
            <a id="email" href="mailto:erik.flatabo@gmail.com" class="word fancy">               Email</a>
            <a id="github-link" href="https://github.com/Kireobat" target="_blank" class="word fancy">                    GitHub</a>
        </div>
    </div>
</body>
</html>