<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/newStyle.css">
    <title>Document</title>
</head>
<body>
    <div id="text" class="text">
        <div class="line">
            <p class="word">Erik</p>
            <p class="word">Flatabø</p>
        </div>
        <div class="line">
            <p class="word">Developement</p>
        </div>
        <div class="line">
            <p class="word">&</p>
            <p class="word">Coding</p>
        </div>
        <div class="line">
            <p class="word fancy">+47 407 21 416</p>
        </div>
        <div class="line">
            <p class="word fancy">Email</p>
            <a 
                id="github-link"
                href="https://github.com/Kireobat"
                target="_blank"
                class="word fancy"
            >
            GitHub
            </a>
        </div>
    </div>
</body>
</html>